{{#if user}}
	<p>Hello, {{ user.username }}. View your <a href="/profile">profile</a>. Or <a href="/logout">log out</a></p>
{{else}}
	<p>Welcome! Please <a href="/login">log in with GitHub</a>.</p>
{{/if}}
